# add syntax highlighting
include "/usr/share/nano/*.nanorc"
include "/usr/share/nano/extra/*.nanorc"

# Enable soft line wrapping
set softwrap

# Wrap lines at blank characters
set atblanks

# Use auto-indentation
set autoindent

# Sidebar for indicating current position
set indicator

# Display cursor position in statusbar
set constantshow

# Enable mouse support
set mouse

# Change the title color
set titlecolor black,yellow
set numbercolor cyan
set keycolor brightcyan
set functioncolor brightgreen
set statuscolor black,yellow
